/* Add the following styles to your add-book.component.css */


  
  #body {
    padding: 20px;
    background: linear-gradient(180deg,rgb(14, 14, 74),rgb(175, 175, 248));

 height: 100vh;

  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #dee7ed;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }
  